<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "navbar-brand btn btn-success text-white" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% portfolio_link_style = (request.path == portfolio_path) ? "nav-link active" : "nav-link" %>
            <%= link_to "Portfolio", portfolio_path, class: portfolio_link_style %>
          </li>
          <li class="nav-item">
            <% edit_user_link_style = (request.path == edit_user_registration_path) ? "nav-link active" : "nav-link" %>
            <%= link_to "Edit User", edit_user_registration_path, class: edit_user_link_style %>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item user-name mt-2">
            <i class="bi bi-person-circle"></i> <%= current_user.full_name %>
          </li>
          <li class="nav-item">
            <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link active btn btn-outline-danger text-white" %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>